.main {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .search-input {
    display: flex;
    flex-direction: column;

    input {
      display: flex;
      margin: 0 10px;
      line-height: 30px;
      min-width: 300px;
    }
  }

  button {
    min-width: 100px;
  }
}

button {
  display: flex;
  margin: 0 10px;
  max-height: 40px;
}

.panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .networth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.portfolioCardList {
  border: 1px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;

  .portfolioCardEntry {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }
}

.center {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .name {
    display: flex;
    justify-content: center;
  }

  .graph-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .price {
    display: flex;
    justify-content: center;
  }

  .quantity-text {
    display: flex;
    justify-content: center;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 308px;

  .card-display {
    display: flex;
    flex: 1;
    flex-direction: row;

    img {
      display: flex;
      margin: 0 10px;
      max-height: 400px;
      width: auto;
    }
  }
}

@media (max-width: 1028px) {
  .right {
    min-width: 127px;

    .card-display img {
      max-height: 300px;
      width: auto;
    }
  }
}

.loading {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: .8em;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

.loading-rotation {
  animation: rotateAnimation 2s linear infinite;
  /*
    - `rotateAnimation`: The name of the keyframes
    - `2s`: Duration of the animation (2 seconds in this case)
    - `linear`: Animation timing function for a smooth, constant rotation
    - `infinite`: Repeats the animation indefinitely
  */
}
